# Laravel folders to ignore
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs

# Environment & config
.env
.env.*
.phpunit.result.cache
Homestead.*
auth.json

# Build output (Vite / Mix / other frontend tools)
public/build
public/hot
/dist

# IDE / Editor folders
/.idea
/.vscode
/.phpactor.json
/.fleet
/.nova
/.zed

# npm / yarn logs
npm-debug.log
yarn-error.log
pnpm-debug.log